aniso8601==8.0.0
appnope==0.1.0
attrs==19.3.0
backcall==0.1.0
Click==7.0
csvalidate==1.1.1
decorator==4.4.1
Flask==1.1.1
Flask-CSV==1.2.0
Flask-Log-Request-ID==0.10.1
flask-restx==0.1.1
importlib-metadata==1.5.0
ipdb==0.12.3
ipython==7.12.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
MarkupSafe==1.1.1
marshmallow==3.5.0
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.3
ptyprocess==0.6.0
Pygments==2.5.2
pyrsistent==0.15.7
python-dotenv==0.11.0
pytz==2019.3
six==1.14.0
traitlets==4.3.3
wcwidth==0.1.8
Werkzeug==0.16.1
zipp==3.0.0
