{% extends "base.html" %}

{% block content %}

  <div>
    <form id="search_form" name='search_form'>
        <div class="form-group row">

            <label for="query" class="col-sm-1 col-form-label">Query</label>
            <div class="col-md-1">
            <input type="text" value="" name="query" class="form-control" id="query">
            </div>

            <label for="sort_by" class="col-sm-1 col-form-label">Sort By</label>
            <div class="col-sm-2">
                <select name="sort_by" class="form-control" id="sort_by">
                    <option value="Yds" >Total Rushing Yards</option>
                    <option value="Lng" >Longest Rush</option>
                    <option value="TD" >Total Rushing Touchdowns</option>
                </select>
            </div>

            <label for="sort" class="col-sm-1 col-form-label">Sort</label>
            <div class="col-sm-1">
                <select name="sort" class="form-control" id="sort">
                    <option value="asc" >Ascending</option>
                    <option value="desc" >Decending</option>
                </select>
            </div>

            <button type="submit" class="btn btn-md btn-primary">Submit</button>&nbsp;
            <input id="export" type="button" value="Download CSV" />
        </div>

    </form>
  </div>
  <div id="table">
    <table class="table table-sm">
        <thead>
        </thead>

        <tbody>
          <tr style="text-align: center;"><td>Loading...<td></tr>
        </tbody>
    </table>

  </div>

{% endblock %}

{% block footer_js %}
    <script>
    $(document).ready(function() {

        loadData({});

        function loadData(query_params) {
            $.ajax({
                type: "GET",
                url: "{{ url_for('api.nfl_nfl_resource') }}",
                data: query_params,
                success: function(data) {
                    createTable(data.data)
                },
                error: function(data) {
                    alert(JSON.stringify(data.responseJSON))
                }
            });
        }


        function createTable(data) {
            var tbl_header = ""
            var tbl_body = ""
            if (data.length > 0) {
                headers = Object.keys(data[0])
                // create table header
                $.each(headers, function(idx, header) {
                    tbl_header += "<th>"+header+"</th>";
                });
                tbl_header = "<tr>" + tbl_header + "</tr>"
                $("#table thead").html(tbl_header);

                // create table body

                $.each(data, function(idx, value) {
                    var tbl_row = "";
                    $.each(headers, function(idx, key) {
                        tbl_row += "<td>"+value[key]+"</td>";
                    });
                    tbl_body += "<tr>" + tbl_row + "</tr>"
                });
            }

            $("#table tbody").html(tbl_body);
        }

        $("#search_form").submit(function(e){
            e.preventDefault();
            var data = getFormData($("#search_form"))
            loadData(data)
        })

        $('#query').bind('keyup', function() {
            if ($('#query').val().length >= 2) {
                $('#search_form').delay(200).submit();
            }
        });

        function getFormData($form){
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function(n, i){
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        $("#export").on("click", function(){
            $("table").tableToCSV()
        })

    });

    </script>
{% endblock %}
